.imageDiv {
    width: 98.8vw;
    background-size: cover;
    height: calc(100vh - 70px);
    overflow: hidden;
    background-image: url("../assets/Hotel.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}
