.container-rooms{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    padding: 60px;
}

.container-rooms h2{
    font-size: larger;
    margin-bottom: 0;
    margin-top: 0;
    color: var(--primary);
    text-decoration: none;
}

.container-rooms h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5vw;
    font-weight: 900;
    word-spacing: 0.0001vw;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** Card **/

.containerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    width: 100%;
    border-radius: 10px;
}

.containerCard:hover {
    cursor: pointer;
    box-shadow: 12px 10px 5px 0px var(--primary);
}

.containerCard img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.container-rooms .containerBook {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: row;
}

.container-rooms .priceContainer {
    background-color: var(--primary);
    color: white;
    padding: 20px;
    font-size: 1vw;
    font-weight: 600;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.container-rooms .buttonBooking {
    background-color: var(--primary);
    color: white;
    padding: 20px;
    font-weight: 600;
    font-size: 1vw;
    border-left: 1px solid white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.container-rooms .buttonBooking:hover {
    cursor: pointer;
}

.container-rooms h5 {
    font-size: 1.5vw;
    margin-bottom: 0;
    margin-top: 0;
}


.divCard {
    width: 100%;
    height: 50%;
    padding: 20px;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.divCard p {
    font-size: 0.9vw;
    margin: 5px 0 10px 0;
    font-weight:500;
    color: var(--paragraph);
}

.divImage img{
    border-radius: 10px;
    max-width: 100%;
    max-height: auto;
    display: block;
}

/**Room**/
.containerRoom{
    margin-top: 1vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleRoom {
    text-align: start;
    width: 55vw;
    font-size: 1.5vw;
    font-weight: 700;
}

.carrousel {
    width: 90%;
    height: 60vh;
    justify-content: center;
}

.img-carrousel {
    border-radius: 10px;
    width: 100%;
    max-height: 60vh;
    display: block;
}

.info-room-container {
    display: flex;
    flex-direction: column;
}

.price-text {
    font-size: 1.2vw;
}

.total-text {
    font-size: 0.9vw;
    text-decoration: underline;
}

.total-text span {
    margin-left: 2vw;
    font-weight: 700;
}

/**Galery **/
.containerImage{

    border-radius: 10px;
}

.containerImage:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.principalImage{

    border-radius: 10px;
}

.principalImage:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}