:root {
  --primary: #BE0E0E;
  --blanco: #FFF;
  --negro: #262626;
  --fuente-principal: 'Outfit', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: var(--fuente-principal);
  
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}

.heading {
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
  color: var(--primary);
  margin: 5rem 0;
}

/*Header*/

.header {
  padding: 0.5rem 0;
  position: relative;
  background-color: #262626;
}

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Login */
.container-login {
  border: 2px solid black;
  width: 600px;
  height: 500px;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  align-items: center;
  padding: 5rem;
  box-shadow: 10px 5px 20px #262626;
}

.form-login {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
}

.form-login label {
  margin-top: 10px;
  color: var(--negro);
  font-family: var(--fuente-principal);
}

.inputLogin {
  margin-top: 10px;
  background-color: #D2D2D2;
  height: 35px;
  border-radius: 5px;
  border: 2px solid #A5A5A5 ;

}

.divLogin {
  display:flex;
  flex-direction:  column;
  width: 100%;
}

.inputButton {
  margin-top: 20px;
  height: 40px;
  width: 50%;
  background-color: #BE0E0E;
  border-radius: 10px;
  color: #FFF;
  font-size: 18px;
  border: 0;
}

.inputButton:hover{
  background-color: #FFF;
  transition-duration: 0.5s;
  color: #262626;
  cursor: pointer;
}

.textoLogo {
  font-size: 3.5rem;
  line-height: 1.75rem;
  margin-top: 1.25rem;
  text-align: center;
  margin-bottom: 1.25rem;
}

.textoLogoDer {
  --tw-text-opacity: 1;
  color: var(--primary);
  font-weight: 700;
}

.textReg{
  margin: 7px;
}

.divBackground{
  background-image: linear-gradient(to right, rgb(0 0 0 / .8), rgb(0 0 0 / .7)),
  url(../assets/hotel.jpg);;
  background-size: cover;
}

/*Registro*/

.container-registro {
  border: 2px solid black;
  width: 600px;
  height: 850px;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  align-items: center;
  padding: 5rem;
  box-shadow: 10px 5px 20px #262626;
}


.inputContainer {
  display: flex;
  flex-direction: column;
  width: 250px;
}