.form-login form {
    display: flex;
    flex-direction: column;
    
    width: 40%;
}

.inputLogin {
    width: 100%;
}
  
.form-login h3 {
    font-size: 1.1vw;
}

.inputButtonLogin {
  margin-top: 20px;
  height: 40px;
  background-color: #BE0E0E;
  color: #FFF;
  font-size: 20px;
  border: 0;
}
  
  .inputButton:hover{
    background-color: #FFF;
    transition-duration: 0.5s;
    color: #262626;
    cursor: pointer;
  }
  
  .textoLogo {
    font-size: 3.5rem;
    line-height: 1.75rem;
    margin-top: 1.25rem;
    text-align: center;
    margin-bottom: 1.25rem;
  }
  
  .textoLogoDer {
    --tw-text-opacity: 1;
    color: var(--primary);
    font-weight: 700;
    font-size: 2vw;
    text-align: center;
  }
  
  .textReg{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BE0E0E;
    text-decoration: none;
  }
  
  .textReg:hover {
    cursor: pointer;
  }
  
